div#workgroup-metadata dl {
  margin: 1em 0 1em 20px;
  padding: 10px 10px 10px 0;
  float: left;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  background-color: white;
}

div#workgroup-metadata dl > dt {
  clear: left;
  float: left;
  width: 100px;
  text-align: right;
  margin: 0;
  padding: 5px;
  font-weight: bold;
}
div#workgroup-metadata  dl > dt:after {
  content: ":";
}

div#workgroup-metadata  dl > dd {
  margin: 0 0 0 110px;
  padding: 5px 5px 0.5em 5px;
}

div.message-pane-wrapper ul.message-pane {
  clear: left;
}
